body {
    background: url(../images/blue_world_map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    }
.hero.is-primary{
    background-color: rgba(27,24,23,0.1);
}
.bg{
    background: url(../images/blue_world_map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.tabs ul {
    background-color: #c4c8d1e1;
    border-radius: 6px;
}
.tabs a{
    color:white;
}
.tab-content {
    width: 100%;
  }
  .tab-pane {
    width: 100%;
    height: 100%;
  }
.b{
    border: rgba(0, 0, 0, 0.969);
   }
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width:70% !important;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1rem;
     }
.box a{
    text-decoration: none;
    color: #333;
  }
  .box:hover {
    background-color: #F5F5F5;
  }
.wrapper1{
    margin-top: 1rem;
    width:70% !important;
}
.dropdowno{
    width: 100%;
}
@media (max-width: 768px) {
    .rotate {
      transform: rotate(90deg);
    }
}




