body {
    background: url(../images/blue_world_map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
.hero.is-primary{
    background-color: rgba(27,24,23,0.1);
}
.bg{
    background: url(../images/blue_world_map.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.tabs ul {
    background-color: #c4c8d1e1;

}
.tabs a {
    color:white;
}
.b{
    border: rgba(0, 0, 0, 0.969);
   }

.wrapper{
    
    width:70% !important;
}
.box {
    margin-bottom: .5rem !important;
    padding:.5rem;
  }

.wrapper1{
    margin-top: 1rem;
    width:70% !important;
}
.dropdowno{
    width: 100%;
}

@media (max-width: 768px) {
    .rotate {
      transform: rotate(90deg);
    }
}

